/* 
SETTINGS
# TYPOGRAPHY
    - Font Family
    - Font Weight
    - Font Size
# COLORS
# SPACE
# TRANSITION

# BASE STYLE
# UTILITY CLASSES
# BUTTON
# TRANSLATE ANIMATION
# TYPOGRAPHY + Media
# PAGE
# PRELOADER
# HEADER + Media
    - Logo
    - Navigation
    - Hamburger Menu
# SHOWCASE + Media
# SECTIONS + Media
# FOOTER + Media
    - Copyright
    - Btn go top
# MEDIA ROOT
*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;900&display=swap');

:root {
    /* Font Family */
    --font-1: 'Montserrat', sans-serif;

    /* Font Weight */
    --fw-thin: 100;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-black: 900;

    /* Font Size */
    --font-scale-ratio: 1;
    --fs-basic: calc(12px * var(--font-scale-ratio));

    --fs-xsm: calc(.7 * var(--fs-basic));
    --fs-sm: calc(.8 * var(--fs-basic));
    --fs: var(--fs-basic);
    --fs-md: calc(1.2 * var(--fs-basic));
    --fs-lg: calc(1.6 * var(--fs-basic));
    --fs-xlg: calc(2.2 * var(--fs-basic));
    --fs-xxlg: calc(2.8 * var(--fs-basic));
    --fs-display-1: calc(4 * var(--fs-basic));
    --fs-display-2: calc(5 * var(--fs-basic));
    --fs-display-3: calc(6 * var(--fs-basic));

    /* Colors */
    --primary-color: hsl(6, 63%, 35%);
    --second-color: hsl(184, 69%, 32%);
    --third-color: hsl(54, 95%, 42%);
    --black: hsl(0, 0%, 0%);
    --gray-95: hsl(0, 0%, 5%);
    --gray-90: hsl(0, 0%, 10%);
    --gray-80: hsl(0, 0%, 20%);
    --gray-70: hsl(0, 0%, 30%);
    --gray-60: hsl(0, 0%, 40%);
    --gray-50: hsl(0, 0%, 50%);
    --gray-40: hsl(0, 0%, 60%);
    --gray-30: hsl(0, 0%, 70%);
    --gray-20: hsl(0, 0%, 80%);
    --gray-10: hsl(0, 0%, 90%);
    --gray-5: hsl(0, 0%, 95%);
    --white: hsl(0, 0%, 100%);

    /* Space */
    --multiplier: 1;
    --space: calc(3rem * var(--multiplier));

    --space-0_25: calc(0.25 * var(--space));
    --space-0_5: calc(0.5 * var(--space));
    --space-0_75: calc(0.75 * var(--space));
    --space-1: var(--space);
    --space-1_5: calc(1.5 * var(--space));
    --space-2: calc(2 * var(--space));
    --space-2_5: calc(2.5 * var(--space));
    --space-3: calc(3 * var(--space));
    --space-3_5: calc(3.5 * var(--space));
    --space-4: calc(4 * var(--space));
    --space-4_5: calc(4.5 * var(--space));
    --space-5: calc(5 * var(--space));
    --space-5_5: calc(5.5 * var(--space));
    --space-6: calc(6 * var(--space));

    /* Max Width */
    --max-width: 1400px;

    /* Transition */
    --transition-0_3: all 0.3s ease;
    --transition-animation: transform 1s, opacity 1s ease;
}

/* Base style */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: var(--fs);
    font-family: var(--font-1);
    font-weight: var(--fw-light);
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--white);
    letter-spacing: 1px;
}
body {
    background-color: var(--gray-95);
}
html {
    height: 100%;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--gray-10);
}
img {
    width: 100%;
}

/* Utility Classes */
.max-width {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: var(--space-0_5);
    padding-right: var(--space-0_5);
}
/* @media screen and (min-width: 600px) {
    .max-width {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: var(--space-1);
        padding-right: var(--space-1);
    }
} */
.primary-color {
    color: var(--primary-color);
}
.border {
    height: 1px;
    width: 100px;
    background-color: var(--primary-color);
    margin: 3rem 0;
}

/* Button */
.btn {
    display: inline-block;
    margin-right: auto;
    padding: 10px 40px;
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    background: var(--second-color);
    color: var(--black);
    letter-spacing: 3px;
    transition: var(--transition-0_3);
}

/* Translate Animation */
.animation-left, .animation-right, .animation-top {
    opacity: 0;
    transition: var(--transition-animation);
}
.animation-left {
    transform: translateX(150px);
}
.animation-right {
    transform: translateX(-150px);
}
/* .animation-top {
    transform: translateY(80px);
} */
.show {
    opacity: 1;
    transform: translateY(-150px);
}

/* Typography */
h1 {
    font-weight: var(--fw-black);
    text-transform: uppercase;
    font-size:  var(--fs-display-1);
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}
h2 {
    font-size: var(--fs-lg);
    font-weight: var(--fw-regular);
    letter-spacing: 0px;
    line-height: 1.2;
}
h3 {
    font-size: var(--fs-xsm);
    font-weight: var(--fw-light);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.showcase h3 {
    margin-left: 4px;
}
h4 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-md);
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 1rem;
    line-height: 1;
}
.lead {
    color: var(--gray-30);
}
/* Media Typography */
@media screen and (min-width: 720px) {
    body, .lead {
        font-size: var(--fs-lg);
    }
    h1 {
        font-size:  var(--fs-display-3);
    }
    h2 {
        font-size:  var(--fs-xlg);
    }
    h3 {
        font-size: var(--fs);
    }
    h4 {
        font-size: var(--fs-xlg);
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 860px) {
    h2 {
        font-size:  var(--fs-xxlg);
    }
    h4 {
        font-size: var(--fs-xxlg);
    }
}
@media screen and (min-width: 1020px) {
    h2 {
        font-size:  var(--fs-display-1);
    }
    h4 {
        font-size: var(--fs-display-1);
    }
}

/* Page */
.page {
    display: flex;
    flex-direction: column;
    opacity: 0;
    width: 100%;
}
.page.loaded {
    opacity: 1;
    transition: opacity 4s ease .4s;
}

/* Preloader */
.loader {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--gray-95);
    transition: all 1s ease;
}
.loader:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background: var(--gray-90);
  }
  .loader::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background: var(--third-color);
    animation: loader 2s ease-out;
    animation-iteration-count: 1;
  }  
  @keyframes loader {
      0% {
        width: 0%;
      }
      70% {
        width: 50%;
      }
      90% {
        width: 90%;
      }
      100% {
        width: 90%;
      }
  }

/* Hamburger Menu */
.menu-btn {
    position: fixed;
    z-index: 10;
    cursor: pointer;
    top: 0px;
    right: -100%;
    width: 60px;
    height: 60px;
    background-color: var(--third-color);
    outline: none;
    border: none;
    animation: anim-menu 1s ease 3s forwards;
}

@keyframes anim-menu {
    to {
        right: 0;
    }
}
.hamburger-top, .hamburger-bottom {
    position: absolute;
    left: 18px;
    width: 25px;
    height: 4px;
    background: var(--gray-90);
    transition: var(--transition-0_3);
}
.hamburger-top {
    top: 22px;
}
.hamburger-bottom {
    bottom: 22px;
}
.menuActive .hamburger-top {
    transform: rotate(-45deg) translateY(4px) translateX(-5px);
}
.menuActive .hamburger-bottom {
    transform: rotate(45deg) translateY(-4px) translateX(-5px);
}

/* Navigation */
.nav {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-left: 3rem;
    padding-right: 3rem;
    transform: translateX(100%);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: var(--transition-0_3);
    text-transform: uppercase;
}
.nav ul {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    margin-bottom: 9rem;
}
.nav ul li {
    margin-bottom: 1rem;
    /* background: red; */
}
li a {
    color: var(--white);
    font-weight: var(--fw-bold);
    font-size: var(--fs-xxlg);
    letter-spacing: 1px;
    transition: var(--transition-0_3);
}
li a:hover {
    color: var(--third-color);
}
.social-link {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-sm);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.menuActive .nav {
    transform: translateY(0px);
}
/* Media Header */
@media screen and (min-width: 620px) {
    .nav{
        width: 400px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    li a:hover {
        color: var(--third-color);
    }
    .social-link {
        justify-content: flex-start;
        gap: 2rem;
    }
}

/* Showcase */
.showcase {
    height: 100vh;
    display: flex;
    align-items: center;
}
.showcase-content {
    display: flex;
    flex-direction: column;
}
.showcase-content p {
    margin-bottom: 3rem;
    font-weight: var(--fw-light);
    letter-spacing: 1px;
}

/* Media Showcase */
@media screen and (min-width: 500px) {

}
@media screen and (min-width: 720px) {

}


/* About */
.about-img {
    padding-top: var(--space-2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.about-img img {
    object-fit: cover;
}
.about-img img {
    height: 200px;
    width: 100%;
}
.about-content {
    display: flex;
    flex-direction: column;
}
.about-text {
    margin-top: var(--space-2);
}
.about-content p {
    margin-bottom: 2rem;
}

/* Media About */
@media screen and (min-width: 720px) {
    .about-img {
        grid-template-columns: repeat(4, 1fr);
    }
    .about-img img {
        height: 300px;
    }
}

/* Statistic */
.statistics-content {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
    padding: var(--space-3);
    text-align: center;
}
.counter-container {
    display: flex;
    flex-direction: column;
}
.statistics-content span {
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-xlg);
}
/* Media Statistics */
@media screen and (min-width: 720px) {
    .statistics-content {
        gap: 2.5rem;
    }
    .counter-container {
        min-width: 130px;
    }
    .statistics-content span {
        font-size: var(--fs-display-3);
    }
}

/* Inspiration */
.inspiration-text p {
    margin-bottom: 1rem;
}
.inspiration-img {
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vw;
    margin-top: var(--space-2);
    margin-bottom: var(--space-2);
}
.inspiration-img img{
    width: 33vw;
    position: absolute;
}
.inspiration-img img:nth-child(1){
    top: 0;
    left: 0;
}
.inspiration-img img:nth-child(2){
    top: 120px;
    left: 12vw;
    z-index: 1;
}
.inspiration-img img:nth-child(3){
    z-index: 2;
    top: 30px;
    left: 30vw;
}
.inspiration-img img:nth-child(4){
    z-index: 2;
    top: 80px;
    right: 0;
}
/* Media Inspiration */
@media screen and (min-width: 720px) {
    .inspiration-text p {
        max-width: 500px;
    }
    .inspiration-img {
        height: auto;
    }
    .inspiration-img img {
        width: 100%;
        position:initial;
    }
}

/* Subscribe */
.subscribe {
    text-align: center;
    margin-top: var(--space-2);
    margin-bottom: var(--space-3);
}
.subscribe p {
    margin: 3rem 0;
}
.subscribe .btn:first-child {
    background: var(--primary-color);
}

/* Footer */
.footer-content {
    display: flex;
    margin-bottom: -5rem;
    gap: 1rem
}
.footer-left {
    width: 50%;
}
.footer-right {
    width: 50%;
}
.footer-left p{
    line-height: 1.1;
}
/* Copyright */
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 100%;
    font-size: var(--fs-xsm);
}

/* Media Footer */
@media screen and (min-width: 500px) {

}
@media screen and (min-width: 720px) {
    .footer-content {
        margin-bottom: var(--space-1);
    }
    .copyright {
        font-size: var(--fs-sm);
    }
}

/* button go top page */
.btn-go-top {
    z-index: 5;
    position: fixed;
    display: flex;
    bottom: 0px;
    right: 0px;
    padding: 1rem;
    background: var(--third-color);
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: var(--transition-0_3);
}
.btn-go-top svg {
    fill: var(--black);
}
.visible {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}


/* Media Root */
@media screen and (min-width: 720px) {
    :root{
        --multiplier: 3;
    }
}